{% extends 'base.html' %}

{% block head %}
<head>
    <title>Adam</title>
    <div style="background-color: #FBFCFC">
        <a href = "/" style="color:black"> <font size="6";> <b> Optimization Algorithms </b></font> </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/grad_des" style="color:black"> <font size="4"> Gradient Descent </font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/steepest_des" style="color:black"> <font size="4">  Steepest Descent </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/gdm" style="color:black"> <font size="4">  Gradient Descent with Momentum </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/rmsprop" style="color:black"> <font size="4">  RMSprop </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/adam" style="color:black"> <font size="5">  Adam </font> </a> <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <h1 align="center" size="13">
    <font  style="background-color: #FBFCFC" > Adam Algorithm </font>
    </h1>
</head>

{% endblock %}

{% block body %}
<body style="background-image: url('static/math2.jpeg')">

<div class = "content" style="background-image: url('static/fon.jpg')">
    <img style = "position:absolute; TOP: 500px LEFT:900px;" src = "{{url_for('static', filename='adam.gif')}}" alt = "Adam Plot" width="500">
    <form action="{{url_for('ADAM') }}" method="post" style = "text-align: center;">
        <br/>
        <b> Range of X values: </b><br />
        <input type="text" name="startx" size="12" placeholder="Start">
        <input type="text" name="endx" size="12" placeholder="End">
        <input type="text" name="incx" size="12" placeholder="Increment"> <br /><br />

        <b> Range of Y values: </b><br />
        <input type="text" name="starty" size="12" placeholder="Start">
        <input type="text" name="endy" size="12" placeholder="End">
        <input type="text" name="incy" size="12" placeholder="Increment"> <br /><br />

        <b> Function: </b><br />
        <input type="text" name="q[0][0]" size="12" placeholder="q[0][0]">
        <input type="text" name="q[0][1]" size="12" placeholder="q[0][1]"><br /><br />
        <input type="text" name="q[1][0]" size="12" placeholder="q[1][0]">
        <input type="text" name="q[1][1]" size="12" placeholder="q[1][1]"><br /><br />
        <input type="text" name="b[0]" size="12" placeholder="b[0]">
        <input type="text" name="b[1]" size="12" placeholder="b[1]"><br /><br />
        <input type="text" name="c" size="12" placeholder="c"><br /><br />

        <b> Starting Point: </b><br />
        <input type="text" name="x0" size="12" placeholder="x0">
        <input type="text" name="y0" size="12" placeholder="y0"> <br /><br />

        <b> Parameters: </b><br />
        <input type="text" name="alpha" size="12" placeholder="Alpha">
        <input type="text" name="beta1" size="12" placeholder="Beta1">
        <input type="text" name="beta2" size="12" placeholder="Beta2"><br/><br/>
        <input type="text" name="precision" size="12" placeholder="Eps">
        <input type="text" name="eps" size="12" placeholder="Precision"><br/><br/>

        <b> Maximum Iteration Number: </b><br /> <input type="text" name="max_iter" size="12"><br /><br />
        <input type="submit" name="submit" value="Plot"><br/><br/>

    </form>

</div>
<br/><br/><br/><br/>
 <footer style = "text-align: center; background-color: #191A19 ">
        <br/>
        <p style="color:white">Fatma Zehra Çetin</p>
        <p style="color:white">© 2020 Nova Research Lab</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://medium.com/novaresearchlab" style="color:white"> Medium </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://twitter.com/novaresearchlab" style="color:white"> Twitter </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/https://www.facebook.com/novaresearchlab" style="color:white">  Facebook </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br/><br/><br/>
 </footer>
</body>
{% endblock %}