{% extends 'base.html' %}

{% block head %}
<head>
    <title>Gradient Descent with Momentum</title>
    <div style="background-color: #FBFCFC">
    <a href = "/" style="color:black; text-decoration: none;"> <font size="6";> <b> Optimization Algorithms </b></font> </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "/grad_des" style="color:black; text-decoration: none;"> <font size="4"> Gradient Descent </font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "/steepest_des" style="color:black; text-decoration: none;"> <font size="4">  Steepest Descent </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "/gdm" style="color:black; text-decoration: none;"> <font size="5">  Gradient Descent with Momentum </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "/rmsprop" style="color:black; text-decoration: none;"> <font size="4">  RMSprop </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "/adam" style="color:black; text-decoration: none;"> <font size="4">  Adam </font> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

    <h1 align="center" size="13">
    <font  style="background-color: #FBFCFC" > Gradient Descent with Momentum </font>
    </h1>
    <style>
    * {
      box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
 </style>
</head>
{% endblock %}

{% block body %}
<body style="background-image: url('static/backgrounds/math2.jpeg')">
<div class = "row" style="background-image: url('static/backgrounds/fon.jpg')">
    <div class="column">
        <img src = "{{url_for('static', filename= string_variable + '.gif')}}"  alt = "Gradient Descent with Momentum Plot" width="500">
    </div>
    <div class="column">
        <form action="{{url_for('gd_with_m') }}" method="post" style = "text-align: center;">
        <br/>
            <b> Range of X values: </b><br />
            <b> Start: </b> <input type="text" name="startx" value={{startx}} size="12">
            <b> End: </b> <input type="text" name="endx" value={{endx}} size="12"><br /><br />

            <b> Range of Y values: </b><br />
            <b> Start: </b> <input type="text" name="starty" value={{starty}} size="12">
            <b> End: </b> <input type="text" name="endy" value={{endy}} size="12"><br /><br />

            <b> Function Coefficients: </b><br />
            <b> x<sup>2</sup>: </b> <input type="text" name="q[0][0]" value={{q00}} size="12">
            <b> x*y: </b> <input type="text" name="q[0][1]" value={{q01}} size="12"><br /><br />
            <b> y*x: </b> <input type="text" name="q[1][0]" value={{q10}} size="12">
            <b> y<sup>2</sup>: </b> <input type="text" name="q[1][1]" value={{q11}} size="12"><br /><br />
            <b> x: </b> <input type="text" name="b[0]" value={{b0}} size="12">
            <b> y: </b> <input type="text" name="b[1]" value={{b1}} size="12"><br /><br />
            <b> Constant: </b> <input type="text" name="c" value={{c}} size="12"><br /><br />

            <b> Starting Point: </b><br />
            <b> x<sub>0</sub>: </b> <input type="text" name="x0" id="x0" value={{x0}} size="12">
            <b> y<sub>0</sub>: </b> <input type="text" name="y0" id="y0" value={{y0}} size="12" > <br /><br />

        <b> Parameters: </b><br />
        <b> Alpha: </b> <input type="text" name="alpha" size="12" value={{alpha}}>
        <b> Beta: </b> <input type="text" name="beta" size="12" value={{beta}}><br /><br />
        <b> Precision: </b> <input type="text" name="precision" value={{precision}} size="12" ><br /><br />
        <b> Maximum Iteration Number: </b><br /> <input type="text" name="max_iter" size="12" value={{max_iter}}><br /><br />
        <input type="submit" name="submit" value="Plot"><br/><br/>

    </form>
    </div>
        <div class="column" style="background-color: #FBFCFC">
        <p>
           Momentum is a method that helps accelerate SGD in the relevant direction and dampens oscillations.
            It does this by adding a fraction beta of the update vector of the past time step to the current update vector.
        </p>
        <h1 style=" text-align: center;font-size:125%;" ><b>Algorithm</b></h1>
        <p >

            <b>1.</b> Pick a starting value. <br/>
            <b>2.</b> Pick number of iterations.<br/>
            <b>3.</b> Calculate the new point while x<sub>new</sub> - x<sub>old</sub> > precision. <br/><br/>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;V<sub>i</sub> := beta * V<sub>i-1</sub> + (1 - beta) * df/dx<sub>old</sub>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;x<sub>new</sub> := x<sub>old</sub> - alpha *V<sub>i</sub>
        </p>

        <h1 style="text-align: center;font-size:100%;"><b>Hyperparameters</b></h1>
        <p>
            The momentum term <b>beta</b> is usually set to 0.9 or a similiar value.
        </p>
    </div>

</div>
<br/><br/><br/><br/><br/>
 <footer style = "text-align: center; background-color: #191A19 ">
        <br/>
        <p style="color:white">Fatma Zehra Çetin</p>
        <p style="color:white">© 2020 Nova Research Lab</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://medium.com/novaresearchlab" style="color:white"> Medium </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://twitter.com/novaresearchlab" style="color:white"> Twitter </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://www.facebook.com/novaresearchlab" style="color:white">  Facebook </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://github.com/fzehracetin" style="color:white">  Github </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br/><br/><br/>
 </footer>
</body>
{% endblock %}