{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div class = "content">
    <img style = "position:absolute; TOP: 500px LEFT:900px;" src = "data:image/png;base64,{{ user_image }}" alt = "Gradient Descent Plot" width="500">
    <h1 style = "text-align: center;">Gradient Descent Algorithm </h1>
    <form action="{{url_for('gradient_descent') }}" method="post" style = "text-align: center;">

        <b> Range of X values: </b><br />
        <b> Start: </b> <input type="text" name="startx" size="12">
        <b> End: </b> <input type="text" name="endx" size="12">
        <b> Increment: </b> <input type="text" name="incx" size="12"> <br /><br />

        <b> Range of Y values: </b><br />
        <b> Start: </b> <input type="text" name="starty" size="12">
        <b> End: </b> <input type="text" name="endy" size="12">
        <b> Increment: </b> <input type="text" name="incy" size="12"> <br /><br />

        <b> Function: </b><br />
        <b> q[0][0]: </b> <input type="text" name="q[0][0]" size="12">
        <b> q[0][1]: </b> <input type="text" name="q[0][1]" size="12"><br /><br />
        <b> q[1][0]: </b> <input type="text" name="q[1][0]" size="12">
        <b> q[1][1]: </b> <input type="text" name="q[1][1]" size="12"><br /><br />
        <b> b[0]: </b> <input type="text" name="b[0]" size="12">
        <b> b[1]: </b> <input type="text" name="b[1]" size="12"><br /><br />
        <b> c: </b> <input type="text" name="c" size="12"><br /><br />

        <b> Starting Point: </b><br />
        <b> x0: </b> <input type="text" name="x0" size="12">
        <b> y0: </b> <input type="text" name="y0" size="12"> <br /><br />

        <b> Eps: </b> <input type="text" name="eps" size="12"><br /><br />
        <b> Precision: </b> <input type="text" name="precision" size="12"><br /><br />
        <b> Maximum Iteration Number: </b><br /> <input type="text" name="max_iter" size="12"><br /><br />

        <input type="submit" name="submit" value="Submit"><br/><br/>

    </form>

</div>

{% endblock %}