{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class = "content">
    <h1 style="text-align: center">Optimization Algorithms</h1>
    <ul style = "margin-left: 40em">
        <li><a href = "/grad_des" > Gradient Descent </a></li>
        <li><a href = "/steepest_des" > Steepest Descent </a></li>
        <li><a href = "/gdm" > Gradient Descent with Momentum </a></li>
        <li><a href = "/rmsprop" > RMSprop </a></li>
        <li><a href = "/adam" > Adam </a></li>
    </ul>

</div>

{% endblock %}