
{% extends 'base.html' %}

{% block head %}
<head>
    <a href = "http://nova.yildiz.edu.tr/" style="padding: 650px "><img src = "{{url_for('static', filename= 'nova.png')}}" alt = "nova" width="200"/></a>
    <title style="position: absolute; top: 90px">Optimization Algorithms</title>
    <br/><br/>
    <h1 align="center">
    <font size="20" style="background-color: #191A19; color: white" > Optimization Algorithms </font>
    </h1>
</head>

{% endblock %}

{% block body %}
<body style="background-image: url('static/backgrounds/math2.png')">
<div align="center" style="background-color: #191A19">
    <p size="2" style="font-weight: normal; color: white"> <i> This is a simple tool for trying Optimization Algorithms with 3 dimension functions. </i> </p>
</div>
<h2 align="center">
<div class = "content" style="background-color: #191A19">
    <a href = "/grad_des" style="color:#D5E5FE; text-decoration: none;"> <font size="6"> Gradient Descent </font> </a><br/>
    <a href = "/steepest_des" style="color:#D5E5FE; text-decoration: none;"><font size="6">  Steepest Descent </font>  </a><br/>
    <a href = "/gdm" style="color:#D5E5FE; text-decoration: none;"> <font size="6">  Gradient Descent with Momentum </font> </a><br/>
    <a href = "/rmsprop" style="color:#D5E5FE; text-decoration: none;"> <font size="6">  RMSprop </font> </a><br/>
    <a href = "/adam" style="color:#D5E5FE; text-decoration: none;"> <font size="6">  Adam </font> </a><br/>
</div>
</h2>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
 <footer style = "text-align: center; background-color: #191A19 ">
        <br/>
        <p style="color:white">Fatma Zehra Çetin</p>
        <p style="color:white">© 2020 Nova Research Lab</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://medium.com/novaresearchlab" style="color:white"> Medium </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://twitter.com/novaresearchlab" style="color:white"> Twitter </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://www.facebook.com/novaresearchlab" style="color:white">  Facebook </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "https://github.com/fzehracetin" style="color:white">  Github </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br/><br/><br/>
 </footer>
</body>
{% endblock %}